//Main colors & Primary colors
$color-dynamic-orange: #ff7b00;
$color-sun-yellow: #fff200;
$color-purple: #4d2e73;
$color-gray: #535353;

//Primary Gradients

//Secondary colors
$color-contrast-purple: #1f0044;
$color-health-green: #4cb210;
$color-cyan-sky: #00badb;
$color-kind-magenta: #d55de9;
$color-attention-red: #d41f4b;

//Shades of grays
$color-gray-90: #6d6d6d;
$color-gray-80: #6e6e6e;
$color-gray-70: #aeaeae;
$color-gray-60: #c2c2c2;
$color-gray-30: #dedede;
$color-gray-20: #f3f3f3;
$color-grey-5: #e5eaf6;
$color-gray-10: #fafbfd;
$color-grey-three: #aeaeae;
$color-grey-four: #535353;
$color-grey-twelve: #dae5f1;
$color-grey-five: #bdcfe6;
$color-grey-twentysix: #e8e5ec;
$color-grey-two: #c2c2c2;
$color-gray-11: #f0f4f8;

//Shades of purple
$color-purple-2: #6d5787;
$color-purple-3: #a695ba;
$color-purple-4: #ddceee;
$color-purple-5: #e8e5ec;
$color-purple-6: #f4f2f5;
$color-purple-7: #f8f7fa;
$color-purple-8: #fcfcfd;
$color-purple-9: #7a00e6;
$color-purple-10: #23004c;

//Shades of orange
$color-dynamic-orange-90: #db6a00;

// shades of magenta
$color-dynamic-magenta-90: #a645b6;

//common colors
$color-white: #fff;
$color-black: #000;

// Grays
$color-grey-shade-1: $color-gray-60;
$color-grey-shade-2: $color-gray;
$color-grey-shade-3: #bdcfe6;
$color-grey-shade-4: #e9f0f5;
$color-grey-shade-5: $color-gray-30;
$color-grey-shade-6: #cad3de;
$color-grey-shade-7: #a2a2a2;
$color-grey-shade-8: #c1d3e9;
$color-grey-shade-9: #939aa7;
$color-grey-shade-10: $color-purple-6;
$color-grey-shade-11: #acacac;
$color-grey-shade-12: #d2d8df;
$color-grey-shade-13: #796e65;
$color-grey-shade-14: #afa8a3;
$color-grey-shade-15: #b8b8b8;
$color-grey-shade-16: #f4f9ff;
$color-grey-thirtynine: #d6dee1;
$color-grey-forty: #a8bbbf;
$color-grey-nineteen: #f4f9ff;

// Primary
$color-primary: $color-contrast-purple;
$color-primary-bg: $color-white;
$color-primary-text: $color-white;
$color-primary-text-hover: $color-white;
$color-primary-hover: #001e40;
$color-primary-disabled: #f8fafc;
$color-primary-low: #f4f2f6;
$color-primary-border: #001e40;
$color-primary-border-hover: #733db2;
$color-primary-border-disabled: #e8eff6;
$color-primary-text-disabled: #e9eef8;
$color-primary-box: #f4f7fa;
$color-primary-alt-hover: #d55de9;

// primary button colours
$color-primary-button-left: #fff200;
$color-primary-button-right: #ff7b00;
$color-primary-button-icon: #ff7b00;

$color-primary-border-disabled: #e8eff6;

// secondary colours
$color-secondary: $color-purple-3;
$color-secondary-hover: $color-purple-4;
$color-secondary-border: $color-purple-4;
$color-secondary-highlight: #d2ccda;
$color-secondary-disabled: $color-primary-disabled;
$color-secondary-border-hover: $color-grey-shade-3;
$color-secondary-text: #512b7e;
$color-secondary-text-hover: #512b7e;
$color-secondary-100: #aea0c0;
// secondary button color
$color-secondary-button: $color-primary;
$color-secondary-button-text: $color-primary-text;
$color-secondary-button-hover: linear-gradient(to left bottom,
        $color-primary,
        #d55de9);

// gradient color
// $color-primary-gradient: linear-gradient(to bottom right, $color-dynamic-orange, $color-sun-yellow);
// $colour-secondary-gradient : linear-gradient(to bottom right, $color-purple, $color-contrast-purple);

$color-primary-gradient-main-0: linear-gradient(0deg,
        $color-sun-yellow 0%,
        $color-dynamic-orange 100%);
$color-primary-gradient-main-45: linear-gradient(42deg,
        $color-sun-yellow 0%,
        $color-dynamic-orange 105.79%);
$color-primary-gradient-main-90: linear-gradient(90deg,
        $color-sun-yellow 0%,
        $color-dynamic-orange 100%);
$color-primary-gradient-main-135: linear-gradient(42deg,
        $color-dynamic-orange 0%,
        $color-sun-yellow 105.79%);

$color-primary-gradient-blue-green-0: linear-gradient(0deg,
        $color-health-green 0%,
        $color-cyan-sky 100%);
$color-primary-gradient-blue-green-45: linear-gradient(45deg,
        $color-health-green 0%,
        $color-cyan-sky 100%);
$color-primary-gradient-blue-green-90: linear-gradient(90deg,
        $color-health-green 0%,
        $color-cyan-sky 100%);
$color-primary-gradient-blue-green-135: llinear-gradient(225deg,
        $color-health-green 0%,
        $color-cyan-sky 100%);

$color-primary-gradient-red-orange-0: linear-gradient(0deg,
        $color-dynamic-orange 0%,
        $color-attention-red 100%);
$color-primary-gradient-red-orange-45: linear-gradient(90deg,
        $color-dynamic-orange 0%,
        $color-attention-red 100%);
$color-primary-gradient-red-orange-90: linear-gradient(45deg,
        $color-attention-red 0%,
        $color-dynamic-orange 100%);
$color-primary-gradient-red-orange-135: linear-gradient(45deg,
        $color-dynamic-orange 0%,
        $color-attention-red 100%);

$color-primary-gradient-blue-gradient-0: linear-gradient(180deg,
        $color-kind-magenta 0%,
        $color-cyan-sky 100%);
$color-primary-gradient-blue-gradient-45: linear-gradient(225deg,
        $color-kind-magenta 0%,
        $color-cyan-sky 100%);
$color-primary-gradient-blue-gradient-90: linear-gradient(270deg,
        $color-kind-magenta 0%,
        $color-cyan-sky 100%);
$color-primary-gradient-blue-gradient-135: linear-gradient(315deg,
        $color-kind-magenta 0%,
        $color-cyan-sky 100%);

$color-secondary-gradient-main-0: linear-gradient(0deg,
        $color-contrast-purple 0%,
        $color-kind-magenta 100%);
$color-secondary-gradient-main-45: linear-gradient(42deg,
        $color-contrast-purple 0%,
        $color-kind-magenta 105.79%);
$color-secondary-gradient-main-90: linear-gradient(90deg,
        $color-contrast-purple 0%,
        $color-kind-magenta 100%);
$color-secondary-gradient-main-135: linear-gradient(42deg,
        $color-kind-magenta 0%,
        $color-contrast-purple 105.79%);

$color-secondary-gradient-darkpurple-darkmagenta-0: linear-gradient(0deg,
        #120028 0%,
        #5d1669 100%);
$color-secondary-gradient-darkpurple-darkmagenta-45: linear-gradient(45deg,
        #120028 0%,
        #5d1669 100%);
$color-secondary-gradient-darkpurple-darkmagenta-90: linear-gradient(90deg,
        #120028 0%,
        #5d1669 100%);
$color-secondary-gradient-darkpurple-darkmagenta-135: llinear-gradient(225deg,
        #120028 0%,
        #5d1669 100%);

$color-primary-alternative-gradient-magenta-red-0: linear-gradient(0deg,
        $color-attention-red 0%,
        $color-kind-magenta 100%);
$color-primary-alternative-gradient-magenta-red-45: linear-gradient(45deg,
        $color-attention-red 0%,
        $color-kind-magenta 100%);
$color-primary-alternative-gradient-magenta-red-90: linear-gradient(90deg,
        $color-attention-red 0%,
        $color-kind-magenta 100%);
$color-primary-alternative-gradient-magenta-red-135: linear-gradient(45deg,
        $color-kind-magenta 0%,
        $color-attention-red 100%);

//Toolbar
$color-primary-toolbar-gradient: linear-gradient(to left,
        $color-secondary,
        $color-primary 20%);

// blue
$color-blue-one: #eef4ff;
$color-blue-two: #dae5f1;
$color-blue-three: #a6b2bf;
$color-blue-four: #699edb;
$color-blue-five: #eef3f7;
$color-blue-six: #d6dee1;
$color-blue-seven: #fafbfd;
$color-blue-eight: #e5e7e9;

// Highlights
$color-highlight-disabled: $color-primary-disabled;
$color-highlight-inactive: #e6f2ff;
$color-highlight-inactive-hover: #c2b7d0;
$color-highlight: $color-purple;
$color-highlight-hover: $color-purple-2;
$color-highlight-active: $color-dynamic-orange;
$color-highlight-bg: $color-white;
$color-highlight-text: $color-white;
$color-highlight-active: #ff7b00;
$color-highlight-text-inactive-hover: #acacac;

/// tertiary colours
$color-tertiary: $color-white;
$color-highlight-one: $color-dynamic-orange;
$color-highlight-eight: $color-sun-yellow;
$color-toggle-inactive: #a2b6cd;
$color-stepper-active: #004392;

$color-step-background: #fafbfd;

// Admin colours
$highlight-admin: #8cc63f;
$colour16: #4cb210;

// Misc $colours
$white-bg: $color-white !default;
$transparent-bg: transparent !default;
$white-color: #ffffff !default;

$color-warning: #f79009;
$color-negative: #f04438;
$color-neutral: #667085;
$color-positive: #12b76a;
$color-border: #ececf4;
$color-black-700: #16161db3;
$color-gray-dark: #7c7f9a;
$color-background: #f7f7fc;
$color-gray-light: #f3f4f9;
$bg-warning-light: #ffc600;
$bg-warning-dark: #f93;
$gray-background-color: #f4f2f5 !default;
//box shadow
$color-neutral-100: linear-gradient(0deg,
        rgba(253, 253, 253, 0.9),
        rgba(253, 253, 253, 0.9)),
    $color-neutral;
$box-shadow: rgba(166, 149, 186, 0.2);
$shadow: 0 0.5px 1px rgba(88, 102, 126, 0.1),
    0 4px 24px rgba(88, 102, 126, 0.08);
$dropdown-shadow: 0 2px rgba(17, 16, 15, 0.1),
    0 2px 10px rgba(17, 16, 15, 0.1);
$default-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.09);
$box-shadow-1: 0 3px 8px rgba(0, 0, 0, 0.24);

// primary button gradient color
$color-primary-button: linear-gradient(to left bottom,
        $color-dynamic-orange,
        $color-sun-yellow);